* {
    margin: 0%;
    padding: auto;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(172, 223, 255);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 14px 16px;
    background-color: rgb(30, 166, 250);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    position: flex;
    top: 0%;
    width: 100%;

}

nav ul li {
    margin: 0 5px;
    /* adjust margin values */
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

ul li {
    list-style: none;
}

ul li a {
    font-weight: bold;
    font-size: 18px;
    margin-inline: 20px;
    color: black;
}

ul li a:hover {
    color: rgb(21, 174, 235);
    font-weight: 600;


}
.experiences h1{
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    color: #333;
}
.experiences h2{
    font-size: 20px;
    color: black;
    text-align: justify;
    margin: 20px auto;
    width: 80%;
}
.experiences h3{
    font-size: 20px;
    color: black;
    text-align: justify;
    margin: 20px auto;
    width: 80%;
}
.experiences h4{
    font-size: 20px;
    color: black;
    text-align: justify;
    margin: 20px auto;
    width: 80%;
}
.experiences p {
    font-size: 20px;
    color: #444;
    text-align: justify;
    margin: 20px auto;
    width: 80%;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 66px;
    margin-top: 66px;
    background-color: #87cefa;
    color: rgb(77, 113, 128);
    width: 92.5%;
    position: relative;
    bottom: 0%;
    align-items: flex-start;

}

.footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #444;
}

.footer .text1 p {
    margin: 5px 0;
}

.footer .text1 p a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102.3%;
    height: 100px;
    background-color: #87cefa;
    color: rgb(77, 113, 128);
    position: relative;
    bottom: 0%;
    font-weight: bold;
}